﻿@{
    ViewBag.Title = "Contact";
}
<h2>Kontakta mig</h2>

<address>
    Hjalmar Brantingsgatan 23 c<br />
    417 18 Göteborg<br />
    <abbr title="Phone">Mobil:</abbr>
    073 - 18 19 863
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:hundenmarvin@gmail.com">hundenmarvin@gmail.com</a><br />
</address>