﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Välkommen till Ulrik Fribergs web-portfolio</h2>

<p>Hej! Jag pluggar till web-utvecklare på Lindholmens web-utbildning och kommer göra praktik till hösten.
    På den här sidan kan ni se mina alster.</p>