﻿@model IEnumerable<Portfolio.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Portfolio</h2>



<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Link)">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                </a>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            </td>
        </tr>
    }
</table>